/*--- Estilos de fuente ---*/
.titulos{
    font-family: 'Concert One', sans-serif;

}

.subtitulos{
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.textos{
    font-family: 'PT Sans Narrow', sans-serif;
}

.textos2{
    font-family: 'Nanum Pen Script', cursive;
}
/*___________________________*/

/*--- Variables CSS ---*/
:root{
    --turquesa50:#edfffd;
    --turquesa100:#c0fffb;
    --turquesa200:#82fff8;
    --turquesa300:#3bfff5;
    --turquesa400:#11feeb;
    --turquesa500:#00e1d0;
    --turquesa600:#00b6ac;
    --turquesa700:#00908b;
    --turquesa800:#00716f;
    --turquesa900:#045d5b;
    --turquesa950:#00393a;

    /*Degradados para los títulos*/

    /* Dirección "derecha" */
    --degradadoDerecha:linear-gradient(to right,var(--turquesa600), var(--turquesa950), var(--turquesa600), var(--turquesa300));

    --degradadoDerecha2: linear-gradient(to right, var(--turquesa950), var(--turquesa600), var(--turquesa300));

    --degradadoDerecha3: linear-gradient(to right,#fff, var(--turquesa50),var(--turquesa200),#fff, var(--turquesa50) , var(--turquesa400), #fff, var(--turquesa50), #fff);

    --degradadoDerecha4: linear-gradient(to right,#fff, var(--turquesa100),var(--turquesa400),#fff, var(--turquesa100) , var(--turquesa400), #fff, var(--turquesa50), #fff);

    --degradadoDerecha5: linear-gradient(to right,var(--turquesa600), var(--turquesa950), var(--turquesa300), var(--turquesa50));
    
    /*Diercción "izquierda"*/
    --degradadoIzquierda: linear-gradient(to left, var(--turquesa950), var(--turquesa600), var(--turquesa300));

    --degradadoIzquierda2:linear-gradient(to left, var(--turquesa400) , var(--turquesa950), var(--turquesa600), var(--turquesa300));
}
/*___________________________*/


/*--- Construcción de estilos ---*/

.animacion_Titulos{
    animation: bounce 2s ease-in-out infinite; 
    animation-delay: 5s;
}

*{
    scroll-behavior: smooth;
}

body{
    background-color: var(--turquesa50);
}

/*--- HEADER ---*/
header{
    background-image: url(../imgs/imgs-Pg/header-bg11.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

/*--- Nav Container ---*/
.nav__container{
    background-color: var(--turquesa950);
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

}

.nav__logo{
    color: var(--turquesa50);
    letter-spacing: 2px;
    padding-left: 15px;
    font-size: clamp(12px, 6vw, 36px);
    }

.nav__opciones a{
    color: var(--turquesa50);
    text-decoration: none;
    font-size: 25px;
    margin: 10px;
    padding: 5px;
    transition: 0.4s;

    /*Jugar con las sombras de los textos*/
}

/*--- Btns de interacción de la Nav ---*/
.show-nav,
.hide-nav{

    color: var(--turquesa50);
    font-size: 40px;
    cursor: pointer;

    /*Ocultamos el ícono de barra y la equis*/
    display: none;
    transition: 0.4s;
}

.nav__opciones a:hover,
.hide-nav:hover,
.show-nav:hover{
    background: var(--turquesa600);
    border-radius: 8px;
}

/*------Movemos al final nuestras barras de nav cuando sea responsive--*/
.show-nav{
    order:1;
}

#check{
    display: none;
}
/*_______________________________*/

/*--- Presentación propia (header__main__info__container) ---*/

.formato__contenedor{
    padding: 20px 0;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.header__img__container{
    width: 350px;
    margin: 20px;
    text-align: center;
    filter:drop-shadow(15px 10px 20px var(--turquesa200));
    overflow: hidden;
}

.header__img{
    border-radius: 15px;
    object-fit: cover;
    height: 350px;
}

.header__info{
    text-align: justify;
    height: 380px;
    width: 100%;
    padding: 0 30px;

    border-radius: 16px;
    border-top:  6px solid rgba(21, 122, 118, 0.3);
    border-right:  6px solid rgba(21, 122, 118, 0.3);

    background-image: url(../imgs/imgs-Pg/header-bg4.svg);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    
}


.header__titulo__presentacion{
    font-size: 42px;
    text-align: justify;
    background: var(--degradadoDerecha);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

.header__texto__descripcion{
    text-align: justify;
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
}

.header__texto__descripcion span{
    color: var(--turquesa800);
    text-shadow: 1px 1px 1px var(--turquesa600);
    font-weight: bold;
}

.header__btns{
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.header__btn__contacto, .header__btn__cv{
    display: inline-block;
    margin: 10px 15px 0 0 ;
    background: linear-gradient(to left, var(--turquesa600), var(--turquesa800));
    border-radius: 5px;
    padding: 15px;
    text-decoration: none;
    color:#fff;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 3px;
    border: 1px solid var(--turquesa50);
    transition: 0.4s;

}

.header__btn__contacto:hover, .header__btn__cv:hover{
    background: linear-gradient(to right, var(--turquesa600), var(--turquesa800));
    box-shadow: 8px 6px 3px var(--turquesa50);  
    border: 0;
}

/*_______________________________________*/

/*--- Sección del Main ---*/
main{
    background-image: url(../imgs/imgs-Pg/tecnologias-bg.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
/*-----------------------*/
.tecnologias__container{
    width: 100%;
    margin: 30px auto;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    outline: 8px solid  rgba(255, 255, 255, 0.2);
}

.flex__container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-flow: row wrap;
    align-content: space-between;
    padding: 20px;
}

.tecnologias__descripcion__container{
    align-self: center;
    flex-basis: 800px;
    height: 300px;
    flex-grow: 2;
    flex-shrink: 5;
    padding: 10px;

    background-image: url(../imgs/imgs-Pg/habilities-bg.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    border-top:  6px solid rgba(21, 122, 118, 0.3);
    border-right:  6px solid rgba(21, 122, 118, 0.3);
    border-radius: 15px;

}

.tecnologias__descripcion__container h2{
    background: var(--degradadoIzquierda);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    text-align: center;
    font-size: clamp(14px, 6vw, 40px);
    font-weight: bold;
    margin: 20px auto
}

.tecnologias__descripcion__container p{
    width: 80%;
    text-align: center;
    margin: 0 auto;
    font-size: clamp(12px, 4.7vw, 24px);
    padding: 0 2px 0px;    
    font-weight: bold;
}

.tecnologias__descripcion__container span{
    color: var(--turquesa700);
    text-shadow: 2px 2px 1px var(--turquesa400);
}

.tecnologias__logos__container{
    flex-basis: 600px;
    flex-grow: 3;
    flex-shrink: 5;
    text-align: center;
    background: linear-gradient(to right,var(--turquesa50), var(--turquesa100), var(--turquesa200), var(--turquesa300), var(--turquesa400), var(--turquesa500),var(--turquesa600),var(--turquesa700) ,var(--turquesa800), var(--turquesa900));
    border-radius: 5px;
    padding: 10px;
}

.tecnologias__logos__container > img{
    width: 120px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 10px;
    margin: 0 5px;
    transition: 0.3s;
}

.tecnologias__logos__container >img:hover{
    transform: translateY(-8px);
    border: 2px solid var(--turquesa50);
}

/*=====================================*/
/*--- SECCIÓN DE HABILIDADES --- */
.habilidades__container{
    margin: 50px auto;
    overflow: hidden;
    width: 100%;
    padding: 30px;
}

.habilidades{
    display: flex;
    max-width: 100%;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row wrap;
    gap: 10px;
    align-content: space-around;
}

.habilidades__img{
    border-radius: 15px;
    text-align: center;
    flex-basis: 400px;
    flex-grow: 1;
    flex-shrink: 1;
}

.habilidades__picture{
    object-fit: cover;
    width: 550px;
    filter:drop-shadow(15px 10px 5px var(--turquesa500));
}

.habilidades__info{
    height: 350px;
    flex-basis: 400px;
    flex-grow: 1;
    flex-shrink: 1;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-top:  6px solid rgba(21, 122, 118, 0.3);
    border-left:  6px solid rgba(21, 122, 118, 0.3);

    background-image: url(../imgs/imgs-Pg/habilities-bg.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

/*clamp(<min>, <ideal>, <max>): 
establece un valor entre un límite superior y uno inferior, basado en un valor ideal 
establecido.*/
.habilidades__info h2{
    background: var(--degradadoDerecha2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-size: clamp(14px, 7vw, 34px);
    margin: 15px auto;

}

.habilidades__info p{
    text-align: center;
    font-weight: bold;
    font-size: clamp(12px, 5vw, 24px);
    padding: 2px;
}   

.habilidades__info span{
    color: var(--turquesa700);
    text-shadow: 2px 2px 1px var(--turquesa400);
}

/*===================================================*/
/* === SECCIÓN "mis__proyectos" === */
.mis__proyectos__container{
    width: 100%;
    margin: 30px auto;
    overflow: hidden;
    padding: 15px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-top: 4px solid  rgba(255, 255, 255, 0.2);
    border-bottom: 4px solid  rgba(255, 255, 255, 0.2);
}

.mis__proyectos__titulo{
    margin: 10px auto;
    text-align: center;
    font-size: clamp(14px, 7vw, 36px);
    background: var(--degradadoIzquierda2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.mis__proyectos__info{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    gap: 20px;
    align-content: center;
}

.mi_proyecto__card{
    width: 480px;
    height: 660px;
    background: rgba(4, 93, 91, 0.55);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.7px);
    -webkit-backdrop-filter: blur(7.7px);
    border: 1px solid rgba(4, 93, 91, 1);
    border-radius: 15px;
    padding: 15px;
    align-self: center;
    flex-grow: 1;
    flex-shrink: 1;
}

.mi__proyecto__image{
    width: 100%;
    margin: 2px auto;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
    background: rgba(237, 255, 253, 0.31);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.7px);
    -webkit-backdrop-filter: blur(7.7px);
    border: 1px solid rgba(237, 255, 253, 1);
}

.mi__proyecto__image img{
    object-fit: cover;
    object-position: top;
    border-radius: 8px;
    text-align: center;
    width: 100%; /*480px*/
    height: 280px;
}

.mi__proyecto__info{
    margin: 10px auto;
    text-align: center;
    width: 100%;
}   

.mi__proyecto__info h3{
    font-size: clamp(16px, 6vw, 26px);
    background:var(--degradadoDerecha3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 5px auto;
}

.mi__proyecto__info p{
    text-align: justify;
    width: 100%;
    padding: 15px;
    font-size: clamp(10px, 4vw, 17px);
    font-weight: bold;
    background:var(--degradadoDerecha4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.proyecto__btn{
    width: 100%;
}

.mi__proyecto__info span{
    font-style: italic;
    text-decoration: underline;
    background: #ffffff44;
}

.mi__proyecto__info .btnRep{ 
    width: 45%;
    display: inline-block;
    margin: 10px 10px;
    background: rgba(4, 93, 91, 0.55);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.7px);
    -webkit-backdrop-filter: blur(7.7px);
    border: 1px solid rgba(4, 93, 91, 1);
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
    color:var(--turquesa50);
    font-weight: bold;
    font-size: 18px;
    border: 2px solid var(--turquesa50);
    transition: 0.4s;
}

.mi__proyecto__info .btnRep:hover{
    background: linear-gradient(to left, rgba(3, 137, 135, 0.55), #2C3E50);
    box-shadow: 8px -6px 3px var(--turquesa50);   
    border: 0;
}

.video{
    display: flex;
    align-items: center;
    justify-content: center;

}

/*==================================================*/
footer{
    background-image: url(../imgs/imgs-Pg/footer-bg.svg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
}
/*sección del footer__info__container*/
.footer__info__container{
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
}

.footer__info{
    display: grid;
    width: 100%;
    overflow: hidden;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    align-content: center;
    gap: 20px;
}

.footer__texts{
    text-align: center;
    width: 100%;
    height: 150px;
    padding: 10px;
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: center;
    justify-self: center;
}

.footer__texts h5{
    font-size: clamp(18px, 6vw, 30px);
    background: var(--degradadoDerecha);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer__texts p{
    font-weight: bold;
    font-size: clamp(12px, 5vw, 24px);
    margin: 30px 10px 5px 10px;
    text-align: center;
}

.footer__icons__container{
    width: 100%;
    height: 150px;
    padding: 10px;
    text-align: center;
    grid-column: 2/-1;
    grid-row: 1/2;
    align-self: center;
    justify-self: center;
}

.footer__icons__container h5{
    text-align: center;
    font-size: clamp(18px, 6vw, 30px);
    letter-spacing: 2px;
    background: var(--degradadoDerecha5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 5px auto 15px auto;
}

.footer__icons__container a{
    margin: 5px auto;
    text-decoration: none;
    font-size: clamp(18px, 8vw, 36px);
    padding: 15px;
    color: var(--turquesa600);
}


.footer__edit{
    width: 100%;
    grid-column: 1/-1;
    grid-row: 2/-1;
    margin: 20px auto;   
    align-self: end;
    justify-self: end;
}


.footer__edit h6{
    text-align: center;
    font-size: clamp(12px, 5vw, 36px);
    color: var(--turquesa50);
}

/*==================================================*/
/*Aplicamos vida a la barra de navegación (tablet y teléfonos)*/
@media screen and (max-width:1023px){
        /*Barra de navegación*/
        .show-nav, 
        .hide-nav{
            display: block;
            font-size: 60px;
        }
    
        .hide-nav{
            margin-left: auto;
        }

        .show-nav{
            margin-right: 20px;
        }

        .nav__opciones{
            position: fixed;
            width: 100%;
            height: 100vh;
            background: var(--turquesa950);
            /*Hacemos que aparezca el menú*/
            right: -100%;
            top: 0;
            text-align: center;
            padding: 85px;
            z-index: 100;
            transition: 0.8s;
        }
    
        .nav__opciones a{
            display: block;
            padding: 15px;
        }
    
        .hide-nav{
            position: absolute;
            top: 40px;
            right: 40px;
            font-size:3.75rem;
        }
    
        /*Comprobamos la activición del check para mostrar y ocultar el menu a través del check*/
        #check:checked ~  .nav__menu__container  .nav__opciones{
            right: 0;
        }

        /*================== FOOTER========================*/
        /*=== Sección del footer===*/

        footer{
            background-image: url(../imgs/imgs-Pg/footer-bg2.svg);
        }
        .footer__info{
            grid-auto-rows: repeat(1,1fr);
        }

        .footer__texts{
            grid-column: 1/-1;
            grid-row: 1/2;
        }

        .footer__icons__container{
            grid-column: 1/-1;
            grid-row: 2/3;
            height: 100px;
        }

        .footer__edit{
            grid-column: 1/-1;
            grid-row: 3/-1;
        }
}   

/*==================================================*/
/*Parte Responsiva (vista normal)*/
/*=== Tablet ===*/
@media screen and (min-width:768px) and (max-width: 1023px){
    /*Modificación del contenido del header*/
    .formato__contenedor{
        flex-wrap: wrap;
        flex-direction: column;
        padding: 10px 0 0 0;
    }

    .header__img__container{
        width: 250px;
        margin: 20px;
    }

    .header__img{
        border-radius: 50%;
        width: 250px;
        height: 250px;
        object-position: center top;
    }
        
    .header__info{
        border-radius: 0;
        border: 0;
    }

    .header__titulo__presentacion{
        text-align: center;
    }


    /*Modificación del contenido del main*/
    /*=== Sección de tecnologías ===*/
    .tecnologias__container{
        margin: 0 auto;
        box-shadow: 0;
        outline: 0;
    }

    .flex__container{
        padding: 20px 0;
    }

    .tecnologias__descripcion__container{
        padding: 5px;
        border-bottom:  6px solid rgba(21, 122, 118, 0.3);
        border-radius: 0;
    }

    .tecnologias__descripcion__container p{
        width: 100%;
        padding: 10px;    
    }

    .tecnologias__logos__container{
        border-radius:0;
        border-top:  6px solid rgba(21, 122, 118, 0.3);
        border-bottom:  6px solid rgba(21, 122, 118, 0.3);
    }

    /*=== Sección de habilidades extra ===*/
    .habilidades__container{
        padding: 0;
    }

    .habilidades__img{
        order: 2;
        margin-top: 20px;
    }

    .habilidades__info{
        order: 1;
        height: 300px;
        border-radius: 0;
        border-top:  6px solid rgba(21, 122, 118, 0.3);
        border-bottom:  6px solid rgba(21, 122, 118, 0.3);    
    }
    
    /*=== Sección de proyectos realizados ===*/
    .mis__proyectos__container{
        padding: 0;
    }  

    .mi_proyecto__card{
        width: 100%;
        padding: 10px;
        border-radius: 0;
    }
    
    .mi__proyecto__image{
        padding: 10px;
    }

    .mi__proyecto__info p{
        padding: 10px;
    }

}

/*==== Teléfonos ====*/
@media screen and (max-width: 767px){
    
    /*Modificación del contenido del header*/
    .formato__contenedor{
        flex-wrap: wrap;
        flex-direction: column;
        padding: 5px 0 0 0;
    }

    .header__img__container{
        width: 200px;
        margin: 15px;
    }

    .header__img{
        border-radius: 50%;
        width: 200px;
        height: 200px;
        object-position: center top;
    }
    

    .header__info{
        margin-top: 20px;
        border-radius: 0;
        border: 0;
    }

    .header__titulo__presentacion{
        font-size: 26px;
        text-align: center;
        padding: 0;
    }

    .header__texto__descripcion{
        text-align: justify;
        font-size: 16px;
    }

    .header__btns{
        flex-direction: column;
        gap: 10px
    }
    .header__btn__contacto, .header__btn__cv{
        width:150px;
        font-size: 16px;
        padding: 10px;
        text-align: center;
        margin: 0;
    }

    /*=== Modificación del contenido del main ===*/
    /*=== Modificacmos la sección de tecnologías ===*/
    main{
    background-position: center right;
    }

    .tecnologias__container{
        margin: 0 auto;
        box-shadow: 0;
        outline: 0;
    }

    .flex__container{
        padding: 20px 0;
    }

    .tecnologias__descripcion__container{
        padding: 5px;
        border-bottom:  6px solid rgba(21, 122, 118, 0.3);
        border-radius: 0;
    }

    .tecnologias__descripcion__container p{
        width: 100%;
        text-align: justify;
        padding: 10px;
    }

    .tecnologias__logos__container{
        border-radius:0;
        border-top:  6px solid rgba(21, 122, 118, 0.3);
        border-bottom:  6px solid rgba(21, 122, 118, 0.3);
    }

    .tecnologias__logos__container >img:hover{
        transform: translateY(-5px);
    }

    /* === Sección de habilidades ===*/
        .habilidades__container{
        padding: 0;
    }

    .habilidades__img{
        order: 2;
        margin-top: 20px;
    }

    .habilidades__picture{
        width: 300px;
    }
    .habilidades__info{
        order: 1;
        height: 300px;
        border-radius: 0;
        border-top:  6px solid rgba(21, 122, 118, 0.3);
        border-bottom:  6px solid rgba(21, 122, 118, 0.3);    
    }

    .habilidades__info p{
        padding: 5px;
        text-align: center;
    }

    /*=== Sección de proyectos realizados ===*/
    .mis__proyectos__container{
        padding: 0;
    }  

    .mi_proyecto__card{
        width: 100%;
        padding: 5px;
        border-radius: 0;
        height: 550px;
    }

    .mi__proyecto__image img{
        object-fit: contain;
        object-position: center center;
        border-radius: 25px;
        height: 180px;

    }
    
    .mi__proyecto__image{
        padding: 5px;
    }

    .mi__proyecto__info p{
        padding: 5px;
    }


    .mi__proyecto__info a{
        margin-top: 30px;
        font-size: 16px;
    }

    .video{
        flex-direction: column;
        width: 100%;
        margin: 0;
    }

    #btnVideo{
        width: 65%;
    }
}















